<div class="radio padding-button">
    <div class="row g-0 bg-body-black position-relative">
        <div class="col-md-6 mb-md-0 p-md-4">
            <div class= img-radio>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSpU48Q5Q5UbNOJT7lnhbcBTvIMh6Hvv669WA&s" class="w-100" alt="...">
            </div>
        </div>
        <div class="col-md-6 p-4 ps-md-0">
          <h5 class="mt-0">Mision y Vision</h5>
          <p>Another instance of placeholder content for this other custom component. It is intended to mimic what some real-world content would look like, and we're using it here to give the component a bit of body and size.</p>
        </div>
    </div>
</div>