<div class="container-fluid row justify-content-around" >
    
      <div class="row justify-content-around">
        <div class="col-4">
            <nav class="navbar">
                <div class="container-fluid">
                  <a class="navbar-brand" href="#">
                    <img src="../../assets/img/favicon.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
                    Syste+
                  </a>
                </div>
            </nav>
        </div>
        <div class="col-4">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                  <a class="nav-link" href="#">Mision y Vision</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Nuestros logros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Monitorias</a>
                </li>
                
              </ul>
        </div>
      </div>
</div>