<div class="radio padding-button ">
    <div class="row g-0 bg-body-black position-relative">
        <div class="col-md-6 p-4 ps-md-0">
          <h5 class="mt-0">Mision y Vision</h5>
          <p>Another instance of placeholder content for this other custom component. It is intended to mimic what some real-world content would look like, and we're using it here to give the component a bit of body and size.</p>
        </div>
        <div  class="col-md-6 p-4 ps-md-0">
            <app-carrusel></app-carrusel>
        </div>    
    </div>
        
</div>
